minimum_pre_commit_version: "3.7.0"
repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        name: gitleaks-secret-scan
        args:
          - --config=.gitleaks.toml
          - --redact
          - --verbose
